
table {
    width: 500px;
    border-collapse: collapse;
    margin: 10px auto;
} 

caption {
    padding: 10px;
    margin: 15px;
}

tr {
    border-bottom: dotted 1px #aaa;
}

td:nth-child(2), td:nth-child(3) {
    text-align: center;
    padding: 7px 0
}